/* Autor Alfredo G.*/

body{
  font-family: 'Merriweather', serif;
  background-color: #e7e7e7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
}



h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', serif;
}

.hero {
  margin: 20px 150px;
}

.hero button{
  background-color: white;
  font-size: 20px;
  border: 1px solid #fafafa;
  padding: 0px 15px;
  border-radius: 4px;
}

.hero .Filtro{
  background-color: #0140AF;
  border: 1px solid #0140AF;
  color: white;
}

.catalogo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.producto{
  margin-top: 12px;
  margin-right: 12px;
  border-radius: 6px;
  background-color: white;
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
}

.header{
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  margin-top: 10px;
  margin-bottom: 6px;
}

h2{
  font-size: 15px;
  line-height: 1;
}

.menu{
  height: inherit;
  margin: 0;
}

.header ol{
  display: flex;
  height: inherit;
  align-items: center;
}

.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

ol,
ul {
  margin:0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;
}

.Barra{
  margin: 12px;
}

.Barra button {
  color: white;
  background-color: #1b2127;
  border: none;
}

.Barra input{
  border-radius: 10px;
  border: none;
}