* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.35'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 25px;
    font-family: 'Balsamiq Sans', cursive;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 150px;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    border: 0px solid;
    background: rgb(28, 128, 146);  
    padding: 0px 30px;
}

/* Navigation */
.nav-brand {
    width: 200px;
    height: 200px;
}

.nav-main {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

/* Navigation Center */
.nav-main ul {
    display: flex;
}
.nav-main ul.nav-menu {
    margin-left: 400px;
}

.nav-main ul li {
    padding: 20px;
    margin-top: 30px;
}

.nav-main ul.nav-menu-right div.search-container {
    padding: 0px;
    margin: auto;
    margin-top: -14px;
    font-size: 40px;
    background-color: rgb(28, 128, 146);
}

.nav-main ul.nav-menu-right div.search-container input[type=text] {
    padding: 6px;
    margin: auto;
    font-size: 17px;
    border-radius: 15px;
    border: 1px #000 solid;
    background: rgb(14, 87, 100);
}

.nav-main ul.nav-menu-right div.search-container button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 22px;
    border: none;c
    cursor: pointer;
    background: rgb(28, 128, 146);
}

.nav-main ul.nav-menu li a:hover {
    border-bottom: 2px solid lightseagreen;
} 


.nav-main ul.nav-menu-right li.login a:hover {
    border-bottom: 2px solid lightseagreen;
}
