{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/styles-jose.css' %}">
  <title>CheappyBeer</title>
</head>
<body>

  <header>
    <nav class="menu">
      <a href="#"><img class="logo-menu" src="{% static 'img/logoCheaapyBeer.png' %}" alt="CheappyBeer Logo" width="100"></a>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Catálogo</a></li>
        <li><a href="#">Login</a></li>
        <form action="">
          <input class="menu-search" type="text" placeholder=" Search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </ul>
    </nav>
  </header>

  <main class="main-section">
    <div class="container">
      <h1>Catálogo de Licores</h1>
      <form class="filters">
        <div><button>Licor</button></div>
        <div><button>Ubicación</button></div>
        <div><button>Precio</button></div>
        <button type="submit">Filtrar</button>
      </form>
      <section class="catalogo">
        <div class="product">
          <figure>
            <img src="{% static 'img/cacique.jpg' %}" alt="Botella Cacique 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/gran-reserva.jpg' %}" alt="Botella Gran Reserva 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/superior.jpg' %}" alt="Botella Superior 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/Santa_teresa_linaje.png' %}" alt="Botella Linaje 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/absolut-vodka.jpg' %}" alt="Botella Absolut 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/grey-goose.jpg' %}" alt="Botella Grey Goose 0.75L" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/hennesy.jpg' %}" alt="Botella Hennesy" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/ron_diplomatico_reserva_smartbites.jpg' %}" alt="Botella Diplomatico" width="200px">
          </figure>
        </div>
        <div class="product">
          <figure>
            <img src="{% static 'img/vodka_bajo_cero_fresa.png' %}" alt="Botella Bajo Cero Fresa" width="200px">
          </figure>
        </div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <p>@Copyrigth 2020 CheappyBeer | Make with <3 </p>
  </footer>
</body>
</html>